<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Open Monument Map</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Home</a>
                    </div>
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/create">Create</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="page-header">
                    <h1>Open Monument Map</h1>
                    <h3>Add new Monument</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form class="form-horizontal" id="addMonument">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="address" name="address">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Monument View</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="monumentView" name="monumentView">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Registry Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="registryNumber" name="registryNumber">
                        </div>
                    </div>
                    <p class="bg-danger" id="error"></p>
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    (function () {
        function getValue(id) {
            return document.getElementById(id).value;
        }

        function onEventSubmit(evt) {
            evt.preventDefault();

            fetch('/api/monuments', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: getValue('name'),
                    description: getValue('description'),
                    address: getValue('address'),
                    date: getValue('date'),
                    monumentView: getValue('monumentView'),
                    registryNumber: getValue('registryNumber')
                })
            })
                .then(function (response) {
                    if (!response.ok) {
                        throw response
                    }
                    return response.json()
                })
                .then(function (monument) {
                    addMonument(monument)
                    console.log('Success!')
                })
                .catch(function (response) {
                    console.log(response)
                    response.text().then(function (errMessage) {
                        const span = document.getElementById('error')
                        span.innerHTML = errMessage
                        console.error(errMessage)
                    })
                });
        }

        const form = document.getElementById("addMonument");
        form.addEventListener("submit", onEventSubmit);
    })();
</script>

</html>