<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Open Monument Map</title>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>Open Monument Map</h1>
    <h4>Items:</h4>
    <table id="list">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Date</th>
            <th>Monument View</th>
            <th>Registry Number</th>
        </tr>
    </table>
</body>

<script>
  (function () {
    const table = document.getElementById("list");

    const monumentTemplate = function (item) {
      return `
                <td>${item.name}</td>
                <td>${item.description}</td>
                <td>${item.address}</td>
                <td>${item.date}</td>
                <td>${item.monumentView}</td>
                <td>${item.registryNumber}</td>
                <td><button type=button data-id="${item._id}">X</button></td>
            `
    };

    function addMonument(item) {
      const tr = document.createElement('tr');
      tr.innerHTML = monumentTemplate(item);
      table.appendChild(tr)
    }

    fetch('/api/monuments')
      .then(function (response) {
        return response.json()
      })
      .then(function (items) {
        for (let i = 0; i < items.length; i++) {
          addMonument(items[i])
        }
      })
      .catch(function (err) {
        console.error(err)
      })
  })();
</script>

</html>
